@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Nunito Sans', Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 0.65rem;
}

::-webkit-scrollbar:hover {
  width: 1rem;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: #e6e1dc;
}

::-webkit-scrollbar-thumb {
  background: hsl(207, 26%, 17%);
  border-radius: 1rem;
  border: 3px solid #e6e1dc;
}
